:root {
    --white: #FFF;
    --gray: #595959;
    --sv: hsl(273, 75%, 66%);
    --sb:hsl(240, 73%, 65%);
    --vdgb: hsl(237, 12%, 33%);
    --dgb: hsl(240, 6%, 50%);
    --lgb: hsl(240, 5%, 91%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
}
header {
    width: 100%;
    height: 3.5rem; 
    background-color: var(--white);
    display: flex;
    align-items: center;
}
#header-container {
    width: 92.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#logo-div{
    width: 4.5rem;
}
#logo {
    max-width: 100%;
    height: auto;
}
nav {
   display: flex;
    align-items: center;
}
#nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-list-item {
    display: inline-block;
    padding-left: 1rem; 
}
.nav-link {
    text-decoration: none;
    color: var(--gray);
}
#hamburger {
    display: inline-block;
    
}

main {
    
}
footer {
    
}